<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Mail</title>
  </head>
  <body>
    <h1>Dojo Mail!</h1>
    <table>
      <thead>
        <th>Email</th>
        <th>Importance</th>
        <th>Subject</th>
        <th>Content</th>
      </thead>
      <tbody>
        <tr *ngFor='let email of emails'>
          <td>{{email.email}}</td>
          <td>{{email.importance}}</td>
          <td>{{email.subject}}</td>
          <td>{{email.content}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
