<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
  </head>
  <body>
    <form action="/quotes" method="post">
      <input type="text" name="quote" placeholder="Enter Quote">
      <input type="text" name="author" placeholder="Enter Author">
      <input type="datetime" name="date">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
